/* From Uiverse.io by Satoshikamotona */ 
.btn-borrar {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #b02813;
    min-width: 50%;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .btn-borrar:hover {
    opacity: 0.95;
    background: #e14c35;
  }
  
  .btn-borrar .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  }
  

  .btn-modificar {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #240a78;
    min-width: 50%;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
  }

  .btn-modificar:hover {
    opacity: 0.95;
    background: #3d18b9;
  }
  
  .btn-modificar .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  } 
  
  .btn-cerrar {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #046749;
    min-width: 50%;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 16px 20px;
    margin-top: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
  }

  .btn-cerrar:hover {
    opacity: 0.95;
    background: #099068;
  }
  
  .btn-cerrar .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  } 
   @keyframes ripple {
    0% {
      box-shadow:
        0 0 0 0 rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 40px rgba(255, 255, 255, 0.1),
        0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow:
        0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 40px rgba(255, 255, 255, 0.1),
        0 0 0 60px rgba(255, 255, 255, 0.1),
        0 0 0 80px rgba(255, 255, 255, 0);
    }
  }